$backgroundColorPrimary1: #D60270;
$backgroundColorPrimary2:#9B4F96;
$backgroundColorPrimary3: #0038A8;
//header


//demographics
$backgroundColorSecondary1: #06beb6;
$backgroundColorSecondary2: #48b1bf;

//skillset
$backgroundColorTertiary: #DD5E89;
$backgroundColorTertiary:#F7BB97;

//footer
$backgroundColorFooter1: #1D2B64;
$backgroundColorFooter2: #F8CDDA;


$color1: #fff;
$color2: #000;